/* Noto Sans KR */
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
/* open sans */
@import url('https://fonts.cdnfonts.com/css/open-sans');
/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* nanumsquare */
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css');
/*
font-family: 'NanumSquareRoundLight';
font-family: 'NanumSquareRound';
font-family: 'NanumSquareRoundBold';
font-family: 'NanumSquareRoundExtraBold';
*/

/* nanumgothic */
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css');
/*
font-family: 'NanumGothicLight';
font-family: 'NanumGothic';
font-family: 'NanumGothicBold';
font-family: 'NanumGothicExtraBold';
*/ 