/* wrap - main */
#wrap{overflow:hidden;min-width:1200px;max-width:1920px;padding-top:140px;margin: 0 auto;}
#container{min-height: calc(100vh - 140px - 163px);}
.type_pc{display: block;}
.type_mo{display: none;}

/* header */
.header{position:fixed;left:0;top:0;right:0;z-index:100;min-width: 1200px;background-color: #000;}
.header.ov{background-color:#fff}
.header .top_quickmenu{height:40px;font-size:0;text-align:right;border-bottom: 1px solid rgba(255,255,255,0.15);box-sizing: border-box}
.header.ov .top_quickmenu{border-color: #ddd}
.header .quickmenu_inner{position: realtive;max-width:1200px;margin: 0 auto;}
.header .top_quickmenu .link_menu{display:inline-block;position:relative;padding:0 8px;font-family: 'NanumSquareRound';font-size:14px;line-height:38px;color: #fff;}
.header.ov .top_quickmenu .link_menu{color: #333;}

.header .top_quickmenu .list_quickmenu{float: left}
.header .top_quickmenu .list_quickmenu li{display: inline-block;position:relative;vertical-align: top}
.header .top_quickmenu .list_quickmenu li + li::after{position:absolute;left:-1px;top:50%;margin-top:-1px;width:2px;height:2px;background-color:#333;content:''}


/* gnb */
.wrap_gnb{position:relative;height:100px;max-width:1200px;margin:0 auto;background: #000;font-size:0}
.header.ov .wrap_gnb{background-color: #fff;}
.wrap_gnb .logo{position:absolute;left:0;top:27px}
.wrap_gnb .logo .link_logo{display:block;width:200px;height:51px;background:url(../img/common/logo_ov.png) no-repeat 0 0;background-size: 100% auto}
.header.ov .wrap_gnb .logo .link_logo{background-image:url(../img/common/logo.png);}
.wrap_gnblist{position:relative;margin-left: 264px;} 
.wrap_gnblist .list_menu{font-size:0;text-align: center}
.wrap_gnblist .list_menu > li{display: inline-block;position: relative;padding:0 34px;vertical-align: top;}
.wrap_gnblist .list_menu > li > .link_menu{display:block;position:relative;padding:31px 0;font-family: 'NanumSquareRoundBold';font-size:18px;line-height:38px;font-weight: bold;color:#fff}
.header.ov .wrap_gnblist .list_menu > li > .link_menu{color:#000}
.wrap_gnblist .list_menu > li:hover::after{position:absolute;left:0;right:0;bottom:0;height:5px;background-color:#3e64b6;content: ''}
.wrap_gnblist .bg_depth2{display: none;position:fixed;top:140px;left:0;right:0;z-index: -1;height:180px;background-color: rgba(0,0,0,.6);}
.wrap_gnblist .list_menudep2{display: none;position: absolute;padding-top:16px;text-align: left}
.wrap_gnblist li:nth-child(4) .list_menudep2{left:0}
.wrap_gnblist .list_menudep2  li + li {margin-top: 8px;}
.wrap_gnblist .list_menudep2 .link_menu{display: block;padding-left: 18px;}
.wrap_gnblist .list_menu > li:first-child .list_menudep2 .link_menu{margin-left: -36px;}
.wrap_gnblist .list_menudep2 .txt_menu{display:inline-block;position:relative;margin:7px 0;font-size:16px;line-height:1;color: #fff}
.wrap_gnb .btn_allmenu{display:block;position: absolute;right:0;top:41px;width:20px;height:19px;background: url(../img/common/ico_allmenu_ov.png) no-repeat 0 0;background-size: cover;}
.header.ov .wrap_gnb .btn_allmenu{background-image: url(../img/common/ico_allmenu.png);}


/* allmenu */
.wrap_allmenu{display: none;justify-content: center;align-items: center;position: fixed;left:0;top:0;right:0;bottom:0;z-index: 100;}
.wrap_allmenu .bg_allmenu{position:absolute;left:0;top:0;right:0;bottom:0;z-index:-1}
.cont_allmenu{overflow:hidden;position:relative;width:960px;height:572px;margin:30px;background-color:#fff;box-sizing: border-box}
.cont_allmenu .area_allmenu{display: flex;align-items: center;height: 100%;padding: 65px 94px;box-sizing: border-box;}
.cont_allmenu .area_allmenu .list_quickmenu{display: none;}
.cont_allmenu .list_menu {width: 100%;}
.cont_allmenu .list_menu > li {display: flex;align-items: center;}
.cont_allmenu .list_menu > li > .link_menu{flex: 0 0 205px;font-size:22px;line-height:23px;font-weight:bold;font-family: 'NanumSquareRoundBold';font-weight: bold;color:#333}
.cont_allmenu .list_menu > li + li{margin-top: 46px;}
.cont_allmenu .list_menudep2{font-size: 0;}
.cont_allmenu .list_menudep2 li{display: inline-block;margin-left: 26px;vertical-align: top}
.cont_allmenu .list_menudep2 .link_menu{display: block;position:relative;font-family: 'NanumSquareRound';font-size:16px;line-height: 20px;color:#333;}
.cont_allmenu .list_menudep2 li:hover .link_menu{color: #e34e64;font-weight: bold;}
.cont_allmenu .list_menudep2 li:hover .link_menu::after{position: absolute;left:0;right:0;bottom: -2px;height:1px;background-color:#e34e64;content: ''}
.cont_allmenu .link_close{position:absolute;right: 0;top: 0;width:65px;height:65px;background: url(../img/common/ico_close_allmenu.png) no-repeat 0 0;background-size: cover}


/* footer */
.footer{background-color: #212638;}
.footer_inner{position: relative;max-width: 1200px;margin: 0 auto;padding: 18px 0 64px;}
.top_footermenu .list_menu{font-size:0;}
.top_footermenu .list_menu li{display: inline-block;position:relative;vertical-align: top;}
.top_footermenu .list_menu li + li{padding-left: 11px;margin-left: 10px;}
.top_footermenu .list_menu li + li::before{position: absolute;left:0;top:0;width: 1px;font-family: 'NanumSquareRound';font-size: 16px;line-height: 1;color: #d4ddff;content: '|'}
.top_footermenu .list_menu .link_menu{display: inline-block;font-family: 'NanumSquareRoundBold';font-size: 16px;line-height: 1;color: #d4ddff;font-weight: 500;vertical-align: top;}
.footer_inner .footer_info {margin-top: 25px;font-family: 'NanumSquareRound';font-size: 14px;line-height: 20px;color: #fff;font-weight: 400;}
.footer_inner .footer_info span + span{margin-left: 22px;}


/* submenu */
.wrap_submenu{position:relative;height: 359px;background: url(../img/sub/sub_visual.png) no-repeat 50% 0;background-size: cover;}
.wrap_submenu .inner_menu{position: relative;max-width: 1200px;height:100%;margin:0 auto;}
.wrap_submenu .menu_depth1{position:absolute;top:50%;left:0;width:100%;margin-top:-33px;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.wrap_submenu .menu_depth1 .tit_menu{display:block;font-size:54px;font-family: 'NanumSquareRoundBold';color:#fff;text-align:center}
.wrap_submenu .menu_depth2{position:absolute;bottom:0;left:0;right:0;height:60px;background-color:#f7f7f7;border-bottom:1px solid #ddd;text-align:center;}
.wrap_submenu .menu_depth2 .tit_menu{display:none}
.wrap_submenu .list_menu{display: flex;justify-content: space-between;}
.wrap_submenu .list_menu li{position:relative;flex:1}
.wrap_submenu .list_menu li::before{position: absolute;content:'';left:0;top:50%;width:1px;height:15px;background-color: #ddd;transform:translateY(-50%);}
.wrap_submenu .list_menu li.home::before{display: none;}
.wrap_submenu .list_menu li.home{flex:0 0 59px;display: flex;align-items: center;justify-content: center;}
.wrap_submenu .list_menu li.home .link_home{display: block;width:19px;height:21px;background: url(../img/sub/ico_home.png)no-repeat 0 0;background-size: cover;}
.wrap_submenu .list_menu .link_menu{display:block;font-family: 'NanumSquareRoundBold';font-size:16px;line-height:60px;color:#777;text-align: center;}
.wrap_submenu .list_menu .on .link_menu{font-weight:bold;color:#20438f}


/* footer submenu */
.wrap_main_submenu{height: 85px;border-top: 1px solid #e2e2e2;background: #fff;}
.wrap_main_submenu .inner_menu{display:flex;position: relative;height: 100%;max-width: 1202px;margin:0 auto;}
.wrap_main_submenu .menu_cate {position: relative;z-index: 10;height: 100%;width: 33.333%;}
.wrap_main_submenu .menu_cate .tit_menu{display: block;position: relative;padding:0 80px 0 40px;font-size: 16px;line-height:85px;font-weight: normal;color: #333;cursor: pointer;}
.wrap_main_submenu .menu_cate .tit_menu::before {position: absolute;right: 0;top: 16px;bottom: 15px;width: 1px;background-color: #e2e2e2;content: "";}
.wrap_main_submenu .menu_cate .tit_menu::after{position: absolute;top: 50%;right: 38px;width: 9px;height: 5px;margin-top: -4.5px;background: url(../img/common/ico_bottommenu_arr.png) no-repeat;background-size: 100%;content: '';}
.wrap_main_submenu .menu_cate.on .tit_menu::after{transform: rotate(180deg);}
.wrap_main_submenu .menu_cate1::before {position: absolute;left: 0;top: 16px;bottom: 15px;width: 1px;background-color: #e2e2e2;content: "";}
.wrap_main_submenu .menu_cate .list_menu{display: none;position: absolute;left: -1px;right: -1px;bottom: 100%;padding:46px 38px;border: 1px solid #e2e2e2;background-color: #fff;}
.wrap_main_submenu .menu_cate .list_menu .link_menu{display: block;padding: 10px 0;font-size: 15px;line-height: 15px;font-weight: 500;}
.wrap_main_submenu .menu_cate .list_menu li:hover .link_menu{color:#e34e64}




/* responsive css */
@media screen and (max-width: 1024px) {
  .type_pc{display: none;}
  .type_mo{display: block;}

  #wrap{min-width: 0;padding-top: 74px;}
  #container{min-height: calc(100vh - 74px - 160px);}
  /* header */
  .header{min-width: 0}
  .header .top_quickmenu{height: 29px;padding: 0;background: #f6f6f6;border-bottom: none;}
  .header .top_quickmenu .list_quickmenu{display: none;}
  .header .top_quickmenu .link_menu{width: 33.333%;font-family: 'NanumSquareRoundBold';font-size: 11px;font-weight:500;line-height: 29px; text-align: center;}
  .header .top_quickmenu .link_menu + .link_menu::after{position: absolute;left:0;top:50%;width:1px;height:19px;background-color:#e2e2e2;transform:translateY(-50%);content: '';}

  
  /* gnb */
  .header.ov .wrap_gnb .logo .link_logo{width:152px;height:19px;background-image: url(../img/common/logo_mo.png);}
  .wrap_gnb{height: 45px;padding: 0 15px}
  .wrap_gnb .logo{left: 15px;top: 13px;}
  .wrap_gnb .logo .link_logo{width: 75px;height: 19px;}
  .wrap_gnblist{display: none;}
  .wrap_gnb .btn_allmenu{right: 15px;top: 15px;width: 20px;height: 14.5px;background-size: auto 100%;background-repeat: repeat;}
  
  /* site menu */
  .cont_allmenu{overflow: visible;display: block;position: absolute;left: 0;top: 74px;width: 100%;height: auto;margin: 0;border-radius: 0;}
  .cont_allmenu .link_close{top:0;right: 100%;width:29px;height:29px;background-image: url(../img/common/ico_close_allmenu_mo.png)}
  .cont_allmenu .area_thumb{display: none;}
  .cont_allmenu .area_allmenu{display: block;padding: 0;text-align: center;}
  .cont_allmenu .area_allmenu .list_quickmenu{display: block;font-size: 0;}
  .cont_allmenu .list_quickmenu li{display: inline-block;position: relative;vertical-align: top;}
  .cont_allmenu .list_quickmenu li + li {margin-left: 1px;}
  .cont_allmenu .list_quickmenu li + li::after{position: absolute;left: -1px;top: 50%;margin-top: -3.5px;width: 1px;height: 7px;background-color: #e2e2e2;content: '';}
  .cont_allmenu .list_quickmenu .link_menu{display: block;padding: 0 9px;font-size: 14px;line-height: 42px;}
  .cont_allmenu .list_menu {text-align: left;border-top: 1px solid #e2e2e2;}
  .cont_allmenu .list_menu > li {display: block;}
  .cont_allmenu .list_menu > li + li{margin-top: 0;}
  .cont_allmenu .list_menu > li > .link_menu{display: block;position: relative;padding: 0 14.5px;margin: 0;font-size: 16px;line-height: 48px;text-align-last: left;border-bottom: 1px solid #e2e2e2;}
  .cont_allmenu .list_menu > li.active > .link_menu {color: #1f4391;}
  .cont_allmenu .list_menudep2{display: none;margin-top: 0;}
  .cont_allmenu li.active .list_menudep2{display: block}
  .cont_allmenu .list_menudep2 li{display: block;margin-left: 0;border-bottom: 1px solid #e2e2e2;}
  .cont_allmenu .list_menudep2 .link_menu{padding: 0 24.5px;font-size: 14px;line-height: 36px;color: #333;}
  .cont_allmenu .list_menudep2 .link_menu::before{position: absolute;left:15px;top:50%;width:2.5px;height:2.5px;background:#333;transform:translateY(-50%);content: '';}
  .cont_allmenu .list_menudep2 li:hover .link_menu{color:#333}
  .cont_allmenu .list_menudep2 li:hover .link_menu::after{display: none;}

  /* footer */
  .footer_inner{padding: 25px 15px;}
  .top_footermenu .list_menu{text-align: center;margin-left:0}
  .top_footermenu .list_menu .link_menu{padding:0 6px;font-size:11px;line-height:17px;}
  .top_footermenu .list_menu li + li {padding-left: 5px;margin-left: 5px}
  .top_footermenu .list_menu li + li::before{padding: 0;font-size:7px;line-height:20px;}
  .top_footermenu .list_menu li + li:nth-child(4)::before{display: none;}
  .footer_inner .footer_info {margin-top: 19px;padding-top: 19px;font-size: 11px;line-height: 17px;color: #a4a4a4;border-top: 1px solid rgba(255,255,255,0.2)}


  /* submenu */
  .wrap_submenu{height: auto;background:none}
  .wrap_submenu:before{display:none}
  .wrap_submenu .menu_depth1{position:relative;top:0;height:154px;margin-top:0;background:url(../img/sub/sub_visual_mo.png) no-repeat 0 0 / cover;-webkit-transform:translateY(0);transform:translateY(0)}
  .wrap_submenu .menu_depth1:before{position:absolute;left:0;top:0;right:0;bottom:0;background-color:rgba(0,0,0,0.2);content:''}
  .wrap_submenu .menu_depth1 .tit_menu{position:absolute;top:50%;left:0;width:100%;font-size:28px;line-height:42px;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
  .wrap_submenu .menu_depth2{position:relative;z-index:10;height:auto;background-color:#f7f7f7;text-align:left;border-bottom:none}
  .wrap_submenu .menu_depth2 .tit_menu{display:block;position:relative;height:40px;padding:0 15px;font-size:12px;line-height:40px;color:#20438f;font-weight:bold;border-bottom: 1px solid #ddd;-webkit-box-sizing:border-box;box-sizing:border-box}
  .wrap_submenu .menu_depth2 .tit_menu::after{position: absolute;top: 50%;right: 17px;width: 20px;height: 20px;margin-top: -10px;background: url(../img/common/ico_submenu_arr.png) no-repeat;background-size: 100%;content: '';}
  .wrap_submenu .menu_depth2.on .tit_menu::after{transform: rotate(180deg);}
  .wrap_submenu .list_menu{display:none;position:absolute;top:100%;left:0;width:100%;padding:14px 0;background-color:#fff;border-bottom: 1px solid #e2e2e2;}
  .wrap_submenu .list_menu li{display:block}
  .wrap_submenu .list_menu li::before{display: none;}
  .wrap_submenu .list_menu li.home{display: none;}
  .wrap_submenu .list_menu .link_menu{padding:0 15px;font-size:12px;line-height:30px;color:#333;-webkit-box-sizing:border-box;box-sizing:border-box}
  .wrap_submenu .list_menu .on .link_menu{color:#20438f}

}







