/* section mv */
.section_mv{background-color:#000}
.section_mv .wrap_mv{position: relative;overflow:hidden;padding-top:41.756%}
.section_mv .wrap_mv .video{position:absolute;top:50%;left:50%;width: 100%;transform:translate(-50%, -50%)}
.section_mv .wrap_mv .img_g{display: none;width:100%}
.section_mv .wrap_mv .tit_mv{display: none;position: absolute;top:15.5%;left:0;width:100%;font-family: 'NanumSquareExtraBold';text-align: center;font-size:4.8vw;font-weight:900;color:#fff}

/* section calendar */
.inner_section{max-width:1200px;margin:0 auto;}
.section_calendar{position: relative;}
.section_calendar .wrap_tabmain{position: absolute;left:50%;top:-45px;font-size:0;white-space:nowrap;transform:translateX(-50%)}
.section_calendar .wrap_tabmain .tab_mv{display:inline-block;width:160px;height:45px;font-family: 'NanumSquare';font-size:18px;line-height:45px;text-align:center;color:#fff;vertical-align:top;background-color:#46368b;cursor:pointer}
.section_calendar .wrap_tabmain .tab_mv[aria-selected="true"]{color:#333;background-color:#f9fafd}

.section_calendar{padding:29px 0;background-color: #f4f8fd;}
.section_calendar .inner_section{display: flex;align-items: center;width: 100%;}
.section_calendar .head_calendar{flex-shrink: 0;display: flex;flex-direction: row-reverse;align-items: center;position:relative;padding-right:31px;}
.section_calendar .head_calendar::after{position: absolute;right:0;top:50%;width:1px;height:105px;background-color:#e2e2e2;transform:translateY(-50%);content:''}
.section_calendar .head_calendar .area_month{padding:0 31px;text-align: center;}
.section_calendar .head_calendar .area_month .txt_month{display:block;font-size:48px;font-family: 'NanumSquare';color:#333;font-weight: 500;line-height: 1;}
.section_calendar .head_calendar .area_month .txt_year{display:block;margin-top:10px;font-family: 'NanumSquare';font-size:24px;color:#333;line-height: 1;}
.section_calendar .head_calendar .link_resv{display: block;width:95px;font-family: 'NanumSquare';font-size:18px;line-height:32px;text-align: center;border-radius: 16px;color:#fff;}
.section_calendar .head_calendar .resv_facility{background-color:#46368b;}
.section_calendar .head_calendar .resv_equipment{margin-top:5px;background-color:#6d75e0;}
.section_calendar .body_calendar{flex:1}
.section_calendar .list_calendar{display: flex;padding:0 11px;justify-content: space-between;}
.section_calendar .list_calendar .link_date{display:block;height:123px;padding:20px 18px 0;text-align: center;border: 1px solid transparent;box-sizing: border-box;}
.section_calendar .list_calendar .link_date.type_today{border-radius:7px;border-color: #f0f0f0;background-color: #fff;}
.section_calendar .list_calendar .txt_date{display:inline-block;font-family: 'NanumSquare';font-size:24px;color:#333}
.section_calendar .list_calendar .num_date{display:block;width:42px;line-height:42px;margin-top:10px; font-family: 'NanumSquare';font-size:18px;color:#fff;border-radius: 100%;}
.section_calendar .resv_facility .num_date{background-color:#46368b;}
.section_calendar .resv_equipment .num_date{background-color:#6d75e0;}
.section_calendar .type_past .num_date{background-color:#ff6a1f;}
.section_calendar .type_close .num_date{background-color:#cacaca;}
.section_calendar .list_calendar .state_close{margin-top:5px;font-size:16px;color:#333}

/* news */
.section_news{padding:70px 0 49px;}
.section_news .inner_section{display: flex;}
.section_news .wrap_news{position: relative;flex:0 0 440px;font-size: 16px;vertical-align: top;}
.section_news .tab_news{display: flex;overflow: hidden;width: 360px;height: 45px;border:1px solid #ececec;border-radius:7px;box-sizing: border-box;}
.section_news .tab_news .link_tab{flex: 0 0 25%;text-align: center;border-left:1px solid #ececec;background-color: #fff;box-sizing: border-box;}
.section_news .tab_news .link_tab:first-child{border-left: none;}
.section_news .tab_news .link_tab.on{border-color: #46368b;background-color:#46368b;}
.section_news .tab_news .link_tab span{font-family: 'NanumGothicBold';font-size: 16px;line-height: 43px;color: #333;font-weight: bold;}
.section_news .tab_news .link_tab.on span {color:#fff;}
.section_news .wrap_news .link_more{position: absolute;top: 0;right:0;font-size: 14px;line-height:45px;color: #999;}
.section_news .wrap_news .link_more em{font-family: 'NanumGothicBold';font-weight:bold;}
.section_news .cont_news{display: flex;align-items: center;margin-top: 20px;}
.section_news .cont_news .box_date{flex: 0 0 100px;display: flex;flex-direction: column;justify-content: center;height: 90px;border: 3px solid #f0f0f0;border-radius: 7px;text-align: center;background-color: #fafafa;box-sizing: border-box;}
.section_news .cont_news .box_date .num_day{font-family: 'NanumGothicBold';line-height: 1;font-weight: bold;font-size: 42px;letter-spacing:-0.025em;color: #2e63d6;}
.section_news .cont_news .box_date .num_month{font-size: 20px;letter-spacing:-0.025em;color: #333;}
.section_news .cont_news .link_news{margin-left: 30px;max-width: 270px;}
.section_news .cont_news .link_news .tit_news{display: block;padding-bottom:6px;font-family: 'NanumGothicBold';font-weight: bold;font-size: 18px;color: #333;}
.section_news .cont_news .link_news .txt_news{display: block;overflow:hidden;white-space: nowrap;font-size: 14px;color: #666;line-height: 1.2;text-overflow: ellipsis;word-break: break-all;}
.section_news .list_news{margin-top: 20px;border-top: 2px solid #595959}
.section_news .list_news li{display: flex;justify-content: space-between;border-bottom: 1px solid #e2e2e2;}
.section_news .list_news .link_list{position: relative;overflow: hidden;max-width: 355px;padding: 0 18px 0 12px;white-space: nowrap;line-height: 36px;font-size: 14px;color: #666;text-overflow: ellipsis;word-break: break-all;box-sizing: border-box;}
.section_news .list_news .link_list .badge_new{position: absolute;top: 50%;right: 0;overflow: hidden;width: 13px;height: 11px;font-size: 0;text-indent: -9999px;background: url(../img/main/badge_new.png) no-repeat 0;background-size: 100%;transform: translateY(-50%);}
.section_news .list_news .link_list::before{position: absolute;left:0;top: 50%;width: 3px;height: 3px;background-color:#666;transform: translateY(-50%);content: '';}
.section_news .list_news .list_date{flex:0 0 85px;font-size:14px;line-height: 36px;color: #666;text-align: right;}

/* popup */
#container.main .wrap_tit{display: block;font-family: 'NanumGothicBold';font-size:24px;line-height:36px;letter-spacing:-0.025em;color:#333;font-weight: 500}
.section_news .wrap_popoup{flex: 0 0 700px;overflow:hidden;margin-left: 60px;font-size: 16px;vertical-align: top;}
.section_news .slide_popup{position: relative;padding-top: 10px;}
.section_news .slide_popup .swiper-slide{overflow:hidden;border-radius: 20px;}
.section_news .slide_popup .area_controller{display: flex;position: absolute;top:-36px;right:0;}
.section_news .slide_popup .area_controller .wrap_arrow{display:flex;position:relative;width: 71px;height:36px;border: 1px solid #ececec}
.section_news .slide_popup .area_controller .swiper-button-prev{top:0;left:0;width: 50%;height: 100%;margin:0;border-right:1px solid #ececec;background: url(../img/main/ico_popup_prev.png) no-repeat 50%;background-size: 7px 11px;}
.section_news .slide_popup .area_controller .swiper-button-next{top:0;right:0;width: 50%;height: 100%;margin:0;background: url(../img/main/ico_popup_next.png) no-repeat 50%;background-size: 7px 11px;}
.section_news .slide_popup .wrap_progress{display: flex;align-items: center;margin-right:20px;}
.section_news .slide_popup .wrap_progress .num_page{width:auto;font-family: 'NanumGothicBold';font-size:18px;line-height:1;color: #949494;letter-spacing:-0.025em}
.section_news .slide_popup .wrap_progress .page_active .swiper-pagination-bullet{display: flex;align-items: center;position:absolute;z-index: -1;width:auto;height:auto;margin: 0;font-weight:bold;background-color: transparent;opacity: 0;}
.section_news .slide_popup .wrap_progress .page_active .swiper-pagination-bullet-active{position: static;z-index: 1;opacity: 1;color:#333}
.section_news .slide_popup .wrap_progress .outer_progress{display: inline-block;overflow:hidden;position:relative;width:141px;height:2px;margin:0 12px;vertical-align: top;background-color: rgba(255,255,255,0.6)}

 /* business */
 .section_business{padding:59px 0 60px;background-color: #f4f8fd;}
 .section_business .slide_business{position: relative;margin-top: 38px;}
 .section_business .slide_business .swiper-slide{display: block;position: relative;overflow:hidden;padding: 17px 15px 30px;border-radius: 15px;background: #fff;}
 .section_business .slide_business .swiper-slide::after{position: absolute;left:0;top:0;z-index:-1;width:100%;height:100%;border-radius:15px;border:3px solid transparent;box-sizing:border-box;transition: border 0.4s ease;content: '';}
 .section_business .slide_business .swiper-slide:hover::after{z-index:1;border-color:#6d75e0;}
 .section_business .slide_business .img_box{overflow:hidden;border-radius: 15px;}
 .section_business .slide_business .tit_list{display: block;overflow:hidden;padding: 24px 10px 0;font-family: 'NanumGothicBold';font-size:18px;font-weight:500;line-height:1;text-align: center;white-space: nowrap;color:#333;text-overflow: ellipsis;word-break: break-all;}
 .section_business .slide_business .wrap_arrow{display:none;position:absolute;top:-36px;right:0;width: 71px;height:36px;border: 1px solid #ececec;background-color: #fff;}
 .section_business .slide_business .swiper-button-prev{position:absolute;top:0;left:0;width: 50%;height: 100%;margin:0;border-right:1px solid #ececec;background: url(../img/main/ico_popup_prev.png) no-repeat 50%;background-size: 7px 11px;}
 .section_business .slide_business .swiper-button-next{top:0;right:0;width: 50%;height: 100%;margin:0;background: url(../img/main/ico_popup_next.png) no-repeat 50%;background-size: 7px 11px;}

@media screen and (max-width: 1024px) {
  .section_mv .wrap_mv{padding-top: 0;}
  .section_mv .wrap_mv .video{display: none;}
  .section_mv .wrap_mv .img_g{display: block;}
  .section_mv .wrap_mv .tit_mv{display: block}

  .section_calendar .wrap_tabmain {top: -27.5px;}
  .section_calendar .wrap_tabmain .tab_mv {width: 105px;height: 27.5px;font-size: 13px;line-height: 27.5px;}

  .section_calendar {padding: 15px 0;}
  .section_calendar .inner_section{display: block;}
  .section_calendar .head_calendar {flex-direction: column;padding-right: 0;}
  .section_calendar .head_calendar .tab_reservation {font-size: 0;}
  .section_calendar .head_calendar .link_resv {display: inline-block;width: 135px;margin:0 2.5px;font-size: 13px;line-height: 35px;border-radius: 17px;vertical-align: top;}
  .section_calendar .head_calendar .resv_equipment{margin-top: 0;}
  .section_calendar .head_calendar .area_month{margin-top:18.5px;font-size: 0;}
  .section_calendar .head_calendar .area_month .txt_month {display:inline-block;font-size: 18px;vertical-align: top;}
  .section_calendar .head_calendar .area_month .txt_year {display: inline-block;margin-top: 0;margin-left: 10px;font-size: 18px;vertical-align: top;}
  .section_calendar .head_calendar::after{display: none;}

  .section_calendar .list_calendar{padding:24.5px 15px}
  .section_calendar .list_calendar .link_date{height:62px;padding:7px 9px 7.5px}
  .section_calendar .list_calendar .link_date.type_today{border-radius:3.5px}
  .section_calendar .list_calendar .txt_date{font-size:13px}
  .section_calendar .list_calendar .num_date{width:21px;line-height:21px;margin-top:8px;font-size:12px}
  .section_calendar .list_calendar .state_close{font-size:13px}

  .section_news {padding: 25px 0;}
  .section_news .inner_section{display: block;padding:0 15px;box-sizing: border-box;}
  .section_news .tab_news {flex: 1;width: auto;height: 35px;margin-right:43.5px;border: none;border-radius: 0;background-color: #dfdfdf}
  .section_news .tab_news .link_tab span {font-size: 13px;line-height: 35px;}
  .section_news .tab_news .link_tab {border-left: 1px solid #fff;background-color: transparent;}
  .section_news .wrap_news .link_more{top:7.5px;font-size: 0;width:20px;height:20px;background:url(../img/main/ico_more.png) no-repeat 0 0;background-size: cover;}
  .section_news .cont_news .link_news{min-width: 0;margin-left: 15px;}
  .section_news .cont_news .box_date {flex: 0 0 75px;height: auto;border: none;border-right: 1px solid #f0f0f0;border-radius: 0;background-color: #fff;}
  .section_news .cont_news .box_date .num_day{font-size: 26px;}
  .section_news .cont_news .box_date .num_month{margin-top:7px;font-family: NanumGothicBold;font-size: 14px;font-weight: bold;}
  .section_news .cont_news .link_news .tit_news{font-size: 13px;}
  .section_news .cont_news .link_news .txt_news{font-size: 11px;}
  .section_news .list_news .list_date{display: none;}
  .section_news .list_news .link_list {max-width: 80%;padding: 0 18px 0 12px;line-height: 31px;font-size: 11px;}
  .section_news .list_news .link_list::before{width:2px;height:2px;}
  .section_news .wrap_popoup{margin-left: 0;margin-top: 25px;}
  #container.main .wrap_tit {font-size: 18px;line-height: 24.5px;font-weight: 700;}
  .section_news .slide_popup .area_controller .wrap_arrow {width: 49px;height: 24.5px;}
  .section_news .slide_popup .wrap_progress .num_page{font-size: 15px;}
  .section_news .slide_popup .area_controller{top:-24.5px}
  .section_news .slide_popup .wrap_progress{margin-right: 10px}
  .section_news .slide_popup .swiper-slide{border-radius: 5px;}


  .section_business {padding: 29.5px 0 25px;}
  .section_business .inner_section{padding: 0 15px;}
  .section_business .slide_business {margin-top: 13.5px;}
  .section_business .slide_business .wrap_arrow {top: -37.5px;width: 49px;height: 24.5px;}
  .section_business .slide_business .swiper-slide {padding: 5px 5px 19px;border-radius: 7.5px;}
  .section_business .slide_business .img_box {border-radius: 7.5px;}
  .section_business .slide_business .tit_list {padding: 12px 5px 0;font-size: 15px;}

  .section_business .slide_business .wrap_arrow{display:flex;}
}