/* global */
.tac {text-align: center;}
.tl {text-align: left;}
.tr {text-align: right;}
.wrap_subtit{padding-bottom:50px;border-bottom:1px solid #d8d8d8;text-align: center;}
.wrap_subtit.type_bdb{border-color: #252525;}
.wrap_subtit.type_bdn{border-bottom: none}
.wrap_subtit h3{display: block;font-family: 'NanumSquare';font-size: 38px;line-height: 1;font-weight: bold;}
.wrap_subtit p{padding-top:16px;font-size:16px;line-height:1;color:#777;text-align: center;}
.type_mo{display: none;}
.img_box{font-size: 0;}
.img_box img{max-width: 100%;}

.sub section[class^='section_']{padding-top: 100px;padding-bottom: 100px;}
.sub .section_inner{max-width: 1200px;margin: 0 auto;padding: 0 20px;box-sizing: unset;}
.sub div[class^='area_']{margin-top: 50px;}
.sub div[class^='area_'] + .wrap_subtit{margin-top: 150px;}

.wrap_contit{padding-bottom: 20px;}
.wrap_contit strong {display:block;font-size: 24px;line-height: 1;color: #20438f;font-weight: bold;}
.wrap_contit.fc_b strong{color: #252525;}
.area_tit .wrap_contit {padding-bottom: 0;}

.areaTit{display: block;font-size: 22px;line-height: 1;font-weight: 500;color: #333;letter-spacing: -0.025em;}

.txt_g {font-size: 18px;line-height: 30px;color: #333;letter-spacing: -0.25px;}
.desc_g {font-size: 20px;line-height: 1;color: #333;letter-spacing: -0.25px;font-weight: 500;}

/* 1. 드론산업 소개 */
.sub section.section_subbusiness{padding-bottom: 0;}
.area_ci{padding-bottom: 26px;}
.area_ci .tit_ci{display:block;padding-top: 49px;font-size:38px;line-height: 1;letter-spacing:-0.025em;text-align: center;font-weight: bold}
.area_ci .txt_ci{padding-top:27px;line-height: 1.4;color: #777;text-align: center;}
.area_business{padding: 80px 0;background-color: #f3f4f7;}
.list_business{display: flex;flex-wrap: wrap;margin: -60px -15px 0;}
.list_business li{flex: 380px;padding: 60px 15px 0;}
.list_business li strong{display: block;padding-top: 18px;font-size: 18px;text-align: center;color: #333;}

/* 2. 드론 비행장 소개 */
.sub section.airfield_introduce{padding-bottom: 0;}
.area_introduce{padding-bottom: 26px;}
.area_introduce .tit_introduce{display:block;padding-top: 49px;font-size:38px;line-height: 1;letter-spacing:-0.025em;text-align: center;font-weight: bold}
.area_introduce .txt_introduce{padding-top:27px;line-height: 1.3;color: #777;text-align: center;}

.sub div.area_inform{margin-top: 0;}
.list_inform > li{display:flex;padding: 70px 0;border-bottom: 1px solid #d8d8d8;}
.list_inform .tit_inform{flex:0 1 285px;font-size:24px;line-height:1.4;color:#252525;font-weight: bold;}
.list_inform .conts_inform{flex:1;min-width: 0;}
.list_dot li{position:relative;padding-left:17px;font-size:18px;line-height:34px;color:#777}
.list_dot li::before{position:absolute;left:0;top:14px;width:4px;height:4px;border-radius:100%;background-color:#827d7d;content:'';}
.list_dot.type_fc3 li{padding-left: 14px;color:#333;font-size:16px;line-height: 1.3;}
.list_dot.type_fc3 li + li{margin-top: 6px;}
.list_dot.type_fc3 li::before{top:8px;color:#333}
.list_dot.type_fc3 li .emph_txt{color: #ff6c00}


.list_table{display:flex;}
.list_table li{width: 290px;}
.list_table li + li{margin-left: 10px;}
.list_table li .box_tit{display: flex;align-items: center;justify-content: center;width: 100%;height: 50px;background-color:#20438f}
.list_table .box_tit strong{font-size: 18px;color: #fff;}
.list_table .box_txt{display: flex;align-items: center;justify-content: center;height:130px;text-align: center;background-color: #f4f4f4;}
.list_table .box_txt p{font-size: 18px;line-height:1.4;color: #333;}

.conts_inform .area_tbl + .area_tbl{padding-top: 50px;}

.info_map strong{display: block;margin-bottom:50px;font-size: 24px;line-height: 1;color:#252525}
.info_map p{position: relative;padding-left: 129px;font-size:18px;line-height: 1.6;color: #777;}
.info_map .tit_dot{position: absolute;left: 0;top:0;padding-left: 15px;color: #20438f;}
#map{height: 700px;margin-top: 50px;background-color: #e9e9e9;}
.info_map .tit_dot::before{position: absolute;content: "";left:0;top:11px;width:4px;height:4px;border-radius: 100%;background-color: #20438f;}
.area_map .img_box{margin-top: 50px;}

/* 3. 드론앵커센터 */
.box_flex{display: flex;width: 100%;}
.box_flex.flex_reverse{flex-direction: row-reverse;}
.area_industry .box_flex{margin:0 -15px}
.area_industry .box_flex + .box_flex{margin-top:20px}
.area_industry .box_flex > * {margin:0 15px;}
.area_industry .box_flex .txt_box{display:flex;align-items: center;justify-content: center;flex: 1;background-color: #f4f4f4;border-radius: 15px;}
.area_industry .box_flex .txt_box strong{color:#252525;font-size: 24px;}
.area_industry .box_flex .wrap_img{display: flex;}
.area_industry .box_flex .wrap_img .img_box+.img_box{margin-left: 15px;}

.area_floor .wrap_contit strong{color: #000}
.area_floor .img_box + .img_box{margin-left: 30px;}

.wrap_search{display: flex;align-items: center;justify-content: space-between;padding:0 30px;background-color: #f7f7f7;height: 85px;}
.wrap_search .txt_amount{font-size:16px;color:#666}
.wrap_search .txt_amount .emph_num{display:inlne-block;padding:0 3px;color:#ff6c00;vertical-align: top;}
.wrap_search .box_search{display: flex;}
.wrap_search .box_search .select_box{position: relative;width:180px;height: 45px;border: 1px solid #ccc;background-color: #fff;box-sizing: border-box;}
.wrap_search .box_search .select_box::after{position: absolute;right:11px;top:19px;width:12px;height:7px;background: url(../img/sub/ico_select_arr.png) no-repeat 0 0;background-size:100%;content:''}
.wrap_search .box_search .input_box{position:relative;width:350px;height: 45px;margin-left:10px;padding-right:45px;border: 1px solid #ccc;background-color: #fff;box-sizing: border-box;}
.wrap_search .box_search .input_box .btn_search{position: absolute;right:0;top:0;height:100%;width:45px;background: url(../img/sub/ico_btn_search.png) no-repeat 50%;background-size: 20px;}

.wrap_list > ul {margin-top: 30px;border-top: 2px solid #3f3f3f;}
.wrap_list > ul > li{display: flex;position:relative;width: 100%;padding:20px 0;border-bottom: 1px solid #d8d8d8;}
.wrap_list > ul > li .link_homepage{position: absolute;right: 10px;top:20px;width:90px;height:20px;background:url(../img/sub/ico_btn_hompage.png) no-repeat 0 0;background-size: cover;}
.wrap_list .wrap_thumb{position: relative;flex: 0 0 200px;overflow:hidden;height:90px;border: 1px solid #d8d8d8}
.wrap_list .wrap_thumb img{position: absolute;left: 50%;top: 50%;max-width: 90%;transform: translate(-50%, -50%);}
.wrap_list .wrap_info{margin-left: 30px;}
.wrap_list .wrap_info .label_num{display: inline-block;vertical-align: top;width:50px;line-height: 20px;text-align: center;border-radius: 3px;background-color: #20438f;color: #fff;font-size: 14px;font-weight: bold}
.wrap_list .wrap_info .tit{display: inline-block;margin-left:10px;vertical-align: top;font-weight: bold;color:#000}
.wrap_list .wrap_info .list_info{margin-top: 10px;}
.wrap_list .wrap_info .list_info li{display: block;font-size:14px;color:#666666;line-height: 20px;}
.wrap_pagenation {display: flex;align-items: center;justify-content: center;margin-top: 60px;}
.wrap_pagenation .btn_comm {margin:0 3px;width: 30px;height: 30px;font-size:0;color: transparent;background-repeat: no-repeat;background-position: 0 0;background-size: cover;}
.wrap_pagenation .btn_prev {background-image: url(../img/sub/ico_btn_prev.png);}
.wrap_pagenation .btn_next {background-image: url(../img/sub/ico_btn_next.png);}
.wrap_pagenation .btn_first {background-image: url(../img/sub/ico_btn_first.png);}
.wrap_pagenation .btn_last {background-image: url(../img/sub/ico_btn_last.png);}
.wrap_pagenation .txt_num {width: 30px;font-size: 16px;line-height:28px;color: #333;text-align: center;cursor: pointer;border: 1px solid #d8d8d8;}
.wrap_pagenation .txt_num.on {background-color:#20438f;border-color:#20438f;color:#fff;}

/* 4. 시설장비예약 */
.wrap_tab{display: flex;width: 100%;}
.wrap_tab .link_tab{position:relative;flex:1;height: 60px;border: 1px solid #ddd;border-bottom: 1px solid #000;font-weight:bold;font-size:20px;line-height:58px;text-align:center;color:#666;box-sizing: border-box;}
.wrap_tab .link_tab + .link_tab{border-left:none}
.wrap_tab .link_tab[aria-selected="true"]{color:#333;border-bottom: none;}
.wrap_tab .link_tab[aria-selected="true"]::after{position: absolute;content: '';left:0;top:0;right:0;bottom:0;border-left:1px solid #000;border-top:1px solid #000;border-right:1px solid #000;}

.area_notice{padding:30px 0;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.area_notice .tit_notice{display: block;font-size:20px;line-height:1;color:#000}
.area_notice .list_dot{margin-top: 24px;}

.sub div.area_reservation{display: flex;flex-direction: row-reverse;flex-wrap: wrap;margin-top: 100px;}
.area_reservation .tit_info{flex:100%;padding-right: 220px;margin-bottom: 50px;;font-size:30px;line-height: 1;color:#000;font-weight: bold;text-align: center;}
.area_reservation .box_info .border_box{display: flex;align-items: center;justify-content: center;min-height: 500px;padding:30px;border: 1px solid #ddd;box-sizing: border-box;}
.area_reservation .box_reservation{flex: 0 0 220px;}
.area_reservation.type_calendar .box_reservation{padding-top: 70px;}
.area_reservation .box_reservation > * + *{margin-top: 10px;}
.box_reservation .wrap_checkbox{padding:25px 30px;border: 1px solid #ddd;box-sizing: border-box;}
.box_reservation .wrap_checkbox .label{display: block;cursor: pointer;font-size:16px;line-height: 1;color: #333;}
.box_reservation .wrap_checkbox .label + label{margin-top: 10px;}
.box_reservation .wrap_checkbox .inp_chk{display: inline-block;position:relative;width:15px;height:15px;margin-top:2px;margin-right:10px;border: 1px solid #d8d8d8;background-color: #fff;vertical-align: top;}
.box_reservation .wrap_checkbox .checkbox:checked + .inp_chk::after{position: absolute;content:'';left:2px;top:2px;right:2px;bottom:2px;background-color: #20438f;}
.box_reservation .wrap_select{position:relative;border: 1px solid #ddd;}
.box_reservation .wrap_select::after{position: absolute;content:'';right:10px;top:22px;width:10px;height:7px;background: url(../img/sub/ico_select_arr2.png) no-repeat 0;background-size: cover;}
.box_reservation .wrap_select .select{height:50px}
.box_reservation .wrap_srchfile{display: flex;height:50px;}
.box_reservation .wrap_srchfile .inp_file{flex:1;position: relative;margin-right: 10px;border: 1px solid #ddd;}
.box_reservation .wrap_srchfile .input[type='file']{position:absolute;left:0;top:0;text-indent: -999px;overflow: hidden;}
.box_reservation .wrap_srchfile .label{flex:0 0 80px;line-height: 50px;background-color: #515151;color:#fff;font-size: 16px;text-align: center;}
.box_reservation .wrap_inp{height: 50px;border: 1px solid #ddd;}
.btn_comm{display: block;height: 50px;line-height: 50px;background-color: #20438f;color:#fff;font-size:16px;text-align: center;}

.area_reservation .box_info{flex: 1;margin-right: 43px;height: 575px;box-sizing: border-box;}

.area_facility_reservation{margin-top: 53px;padding-bottom: 152px;}
.area_facility_reservation .box_reservation{display: flex;align-items: center;justify-content: center;max-width:480px;margin: 0 auto;padding: 34px 20px 30px;background-color:#f9f9f9;border: 1px solid #ddd;border-radius: 10px;}
.area_facility_reservation .box_reservation .img_box{flex: 0 0 98px;}
.area_facility_reservation .box_reservation .txt_box{flex: 1;margin-left: 28px;}
.area_facility_reservation .btn_comm {width: 100px;margin: 20px auto 0;}

.area_equipment .cont_flextable .col_cate{flex: 0 0 131px;}
.area_equipment .cont_flextable .col_tit{flex: 0 0 247px;}
.area_equipment .cont_flextable .col_detail{flex: 0 0 502px;}
.area_equipment .cont_flextable .col_amount{flex: 0 0 131px;}
.area_equipment .cont_flextable .col_state{flex: 0 0 189px;padding:0 20px;}

.area_equipment .list_body .col_tit{padding-left: 20px;padding-right: 20px;}
.area_equipment .list_body .col_tit .img_box{max-width: 140px;margin: 0 auto;}
.area_equipment .list_body .col_detail{display: flex;justify-content: center;}
.area_equipment .list_body .col_detail p{white-space: pre-line;text-align: left;}
.area_equipment .list_body .emph_txt{color: #20438f}
.area_equipment .list_body .btn_comm{max-width:100px;margin: 13px auto 0;}

.sub div.area_edu{margin-top: 70px;}
.area_edu .cont_flextable .list_head {border-top: 2px solid #3f3f3f;border-bottom: 1px solid #3f3f3f;background-color: #fff;}
.area_edu .cont_flextable .list_head li strong{color:#000;font-weight: normal;}

.area_edu .cont_flextable .col_cate{flex: 0 0 130px;}
.area_edu .cont_flextable .col_tit{flex: 0 0 350px;}
.area_edu .cont_flextable .col_receipt{flex: 0 0 220px;}
.area_edu .cont_flextable .col_edu{flex: 0 0 220px;}
.area_edu .cont_flextable .col_personnel{flex: 0 0 110px;}
.area_edu .cont_flextable .col_state{flex: 0 0 170px;}

.area_edu .cont_flextable .list_body li{padding:19.5px 0}
.area_edu .list_body .col_tit{display: flex;justify-content: center;}
.area_edu .list_body .col_tit p{white-space: pre-line;text-align: left;}
.area_edu .list_body .btn_state{display:block;margin: 0 auto;width:100px;line-height:48px;border: 1px solid #20438f;color: #20438f;border-radius: 25px;background-color: #fff;text-align: center;}
.area_edu .list_body .btn_state.type_finish{border-color: #ff6c00;color: #ff6c00;}

.area_view .cont_view {border-top: 2px solid #000;}
.area_view .cont_view .head_view {border-bottom: 1px solid #e2e2e2;}
.area_view .cont_view .head_view .tit_view{display: flex;align-items: center;min-height: 80px;padding: 15px 32px;border-bottom: 1px solid #e2e2e2;font-size: 20px;font-weight: 600;color: #333;box-sizing: border-box;}
.area_view .cont_view .head_view .list_viewinfo{font-size: 0;padding: 18.5px 32px;}
.area_view .cont_view .head_view .list_viewinfo li{display: inline-block;font-size: 16px;color: #333;letter-spacing: 0;}
.area_view .cont_view .head_view .list_viewinfo li + li {margin-left: 117px;}
.area_view .cont_view .head_view .txt_info{padding-right: 26px;font-weight: 500;}
.area_view .cont_view .body_view {padding: 38px 32px 40px;border-bottom: 1px solid #e2e2e2;font-size: 16px;line-height: 28px;color: #333;white-space: pre-line;}
.area_view .cont_view .body_view .box_img{margin-top: 30px;}
.area_view .cont_view .foot_attach {padding: 19px 27px 20px;border-bottom: 1px solid #e2e2e2;font-size: 0;}
.area_view .cont_view .foot_attach .link_attach {display: inline-block;margin: 0 5px;font-size: 16px;line-height: 1;color:#333;text-decoration: underline;vertical-align: top;}

.area_write .cont_write {padding:16px 0 0 30px;border-top: 2px solid #000;border-bottom: 1px solid #e2e2e2;}
.area_write .cont_write .head_write,
.area_write .cont_write .body_write,
.area_write .cont_write .attach_write{display: flex;margin-bottom: 16px;}
.area_write .cont_write .tit_label{flex: 0 0 290px;font-size: 18px;font-weight: 600;line-height: 60px;}
.area_write .cont_write .box_input{overflow: hidden;flex: 1;}
.area_write .cont_write .box_input .input {display: block;width: 100%;height: 100%;padding: 10px 32px;border: none;border-radius: 5px;border: 1px solid #e2e2e2;background-color: #fff;box-sizing: border-box;}
.area_write .cont_write .box_input .textarea {display: block;width: 100%;height: 410px;padding: 32px;border: none;border-radius: 5px;border: 1px solid #e2e2e2;background-color: #fff;box-sizing: border-box;}
.area_write .cont_write .attach_write .box_input {display: flex;overflow: visible;}
.area_write .cont_write .attach_write .box_input .input {width:312px;}
.area_write .cont_write .attach_write .btn_attach {flex:0 0 111px;position:relative;height: 60px;margin-left: 8px;line-height: 58px;border: 1px solid #000;border-radius: 5px;text-align: center;font-size: 18px;font-weight: bold;color: #333;cursor: pointer;}
.area_write .cont_write .attach_write .input_file {position: absolute;left: 0;top: 0;width: 100%;height: 100%;color: transparent;text-indent: -9999px;cursor: pointer;}




.list_video {font-size: 0;margin-top: -32px;}
.list_video li {display: inline-block;width: calc(50% - 10px);margin-right: 10px;margin-top: 32px;vertical-align: top;}
.list_video li:nth-child(2), .list_video li:nth-child(4) {margin-right: 0;margin-left: 10px;}
.list_video li .img_box {position: relative;}
.list_video li .img_box::after {position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.3);content: '';}
.list_video li .img_box .ico_play {position: absolute;left: 50%;top: 50%;z-index: 1;width: 38px;height: 52px;background: url(../img/sub/ico_play.png) no-repeat 0 0;background-size: cover;transform: translate(-50%, -50%);}
.list_video .info_course {display: flex;align-items: center;justify-content: space-between;padding: 32px 0;border-bottom: 1px solid #e2e2e2;}
.list_video .info_course strong {flex: 0 0 431px;overflow: hidden;font-size: 18px;font-weight: 500;line-height: 1;color: #333;white-space: nowrap;text-overflow: ellipsis;}
.list_video .info_course span {font-size: 16px;font-family: 'Roboto', sans-serif;color: #999;line-height: 1;}


/* 9. 로그인 */
.wrap_notice .list_notice li.has_bullet {position: relative;padding-left: 15px;line-height: 28px;}
.wrap_notice .list_notice li.has_bullet:before {position: absolute;left: 0;top: 0;content: 'ㆍ';}
.cont_input.type_login {max-width: 520px;margin: 50px auto 0;border-bottom: none;}
.cont_input.type_login .wrap_btnlogin {margin-top: 26px;}
.wrap_btnlogin .link_login {display: block;border-radius: 0;font-size: 20px;font-weight: bold;line-height: 70px;text-align: center;color: #fff;background-color: #e34e64;}
.wrap_btnlogin .list_log {margin-top: 38px;font-size: 0;text-align: center;}
.wrap_btnlogin .list_log li {display: inline-block;vertical-align: top;}
.wrap_btnlogin .list_log a {display: inline-block;padding: 0 16px;font-size: 16px;line-height: 1;color: #333;vertical-align: top;}
.wrap_btnlogin .list_log li + li::before {display: inline-block;width:1px;height: 10px;margin-top: 3px;background-color: #e2e2e2;vertical-align: top;content: '';}

.cont_autehntication {display: flex;justify-content: space-between;max-width: 876px;margin: 50px auto 0;}
.cont_autehntication .link_card {display: flex;align-items: center;flex: 0 0 428px;position: relative;height: 137px;padding:0 43px;border: 1px solid #e2e2e2;box-sizing: border-box;}
.cont_autehntication .link_card:hover::before {position: absolute;left:0;top:0;width:100%;height: 100%;border: 2px solid #e34e64;content: '';}
.cont_autehntication .link_card .txt_card {margin-left: 6px;}
.cont_autehntication .link_card .txt_card strong {font-size: 24px;line-height: 1;color: #333;letter-spacing: -0.025em;}
.cont_autehntication .link_card:nth-child(2) .txt_card {margin-left: 23px;}


.cont_member {max-width: 520px;margin: 62px auto 0;}
.cont_member .wrap_member {padding: 60px 0;border-top: 3px solid #000;border-bottom: 1px solid #e2e2e2;text-align: center;}
.cont_member .wrap_member + .wrap_member {margin-top: 32px;}
.cont_member .wrap_member strong {display: block;font-size: 26px;line-height:32px;font-weight: 600;color: #333;}
.cont_member .wrap_member p {margin-top: 20px;font-size: 18px;line-height: 32px;color: #333;}
.cont_member .wrap_btnlogin {margin-top: 60px;}

.area_terms .box_terms {height: 280px;padding: 30px 0;border: 1px solid #e2e2e2;}
.area_terms .box_terms .box_inner {overflow-y: auto;height: 100%;padding: 0 30px;font-size: 14px;line-height: 24px;color: #333;white-space: pre-line;}
.area_terms .box_terms .box_inner::-webkit-scrollbar {width: 8px;} /* width */
.area_terms .box_terms .box_inner::-webkit-scrollbar-track {background: #fff;} /* Track */
.area_terms .box_terms .box_inner::-webkit-scrollbar-thumb {background: #e2e2e2;border-radius: 5px;} /* Handle */
.area_terms .box_terms .box_inner strong {font-weight: 500;}
.area_terms .desc_radio {margin-top: 24px;}
.area_terms .desc_radio li {margin-left: 0;margin-right: 25px;}

.list_signupintro {display: flex;padding: 0 62px;margin-top: 50px;}
.list_signupintro li {flex: 0 0 50%;padding-right: 20px;box-sizing: border-box;}
.list_signupintro li + li {padding-right: 0;padding-left: 20px;}
.list_signupintro .box_item {display: flex;flex-direction: column;height: 557px;padding: 73px 39px 53px;border: 1px solid #e2e2e2;text-align: center;box-sizing: border-box;}
.list_signupintro .box_item .box_img {display: block;width: 166px;margin: 0 auto;}
.list_signupintro .box_item strong {display: block;margin-top: 40px;font-size: 26px;line-height: 1;color: #333;}
.list_signupintro .box_item p {margin-top: 23px;font-size: 16px;line-height: 1.3;color: #333;letter-spacing: -0.025em;}
.list_signupintro .box_item p em {font-weight: 500;}
.list_signupintro .box_item .link_sign {display: block;margin-top: auto;line-height: 60px;text-align: center;font-size: 16px;font-weight:600;color: #fff;background-color: #e34e64;}

.sub .section_login .area_input {max-width: 751px;margin: 116px auto 0;border-top: 2px solid #e34e64;}
.section_login .area_input .desc_essential {top: -36px;font-size: 16px;}
.section_login .cont_input {padding: 30px 0;}
.section_login .cont_input .module_input {flex-wrap: wrap;margin-top:0;}
.section_login .cont_input .module_input + .module_input {margin-top: 16px;}
.section_login .cont_input .module_input .label {flex: 0 0 213px;padding-bottom: 20px;}
.section_login .cont_input .module_input .box_input {width: 100%;}
.section_login .cont_input .module_input .input_tel {margin: 0 -4px;align-items: center;}
.section_login .cont_input .module_input .input_tel .box_input {flex: 1;margin: 0 4px;}
.section_login .cont_input .module_input .input_addr {flex-wrap: wrap;position: relative;}
.section_login .cont_input .module_input .input_addr .box_input {flex: 100%;margin-right: 0;}
.section_login .cont_input .module_input .input_addr .box_input + .box_input {margin-top: 8px;}
.section_login .cont_input .module_input .input_addr .box_input:first-child {margin-right: 152px;}
.section_login .cont_input .module_input .link_search {position: absolute;top: 0;right: 0;width: 144px;border-radius: 0;font-size: 16px;letter-spacing: -0.025em;background-color: #000;}
.section_login .cont_input .module_input .wrap_input .box_input.type_select {flex: 0 0 161px;}
.section_login .cont_input .module_input .input_email .box_input.type_select {margin-left: 10px;}

.cont_memeber {max-width:479px;padding-top: 38px;margin:50px auto 0;border-top: 3px solid #e34e64;text-align: center;}
.cont_memeber strong {display: block;font-size: 26px;line-height:1;color:#333;letter-spacing: -0.025em;}
.cont_memeber p {margin-top: 24px;font-size: 16px;line-height: 1;color: #333;}
.cont_memeber .link_member {display: block;margin-top: 66px;line-height: 60px;font-size: 16px;font-weight: 500;letter-spacing:-0.025em;color: #fff;background-color: #e34e64;}



/* responsive css */
@media screen and (max-width: 1024px) {
  /* global */
  .wrap_subtit{padding-bottom: 20px;}
  .wrap_subtit h3{font-size: 19px;border-bottom: none;padding-bottom: 0;}
  .wrap_subtit p{padding-top: 10px;font-size:13px;}

  .wrap_contit{padding-bottom: 20px;}
  .wrap_contit strong {font-size: 19px;text-align: center;}

  .areaTit {font-size: 14px;line-height: 1.2;}
  .txt_g {font-size: 14px;line-height: 21px;}
  .desc_g{font-size: 14px;font-weight: 400;}
  .type_mo{display: block;}
  .type_pc{display: none;}
  
  .sub section[class^='section_'] {padding: 0;padding-top: 48px;padding-bottom: 75px;}
  .sub .section_inner{padding: 0 15px}
  .sub div[class^='area_']{margin-top: 25px;}
  .sub div[class^='area_'] + .wrap_subtit{margin-top: 70px;}


  /* 1. 드론산업 소개 */
  .sub section.section_subbusiness{padding-bottom: 0;}
  .area_ci{padding-bottom: 15px;}
  .area_ci .tit_ci{padding-top: 24px;font-size: 16px;}
  .area_ci .txt_ci {padding-top: 15px;font-size: 12px;letter-spacing: 0;line-height: 1.4;}
  .area_business{padding: 25px 0 40px;}
  .list_business{display: block;margin: 0;}
  .list_business li{padding: 0 50px;text-align: center;}
  .list_business li + li{padding-top: 25px;}
  .list_business li strong {display: block;padding-top: 10px;font-size: 13px;}
  
  /* 2. 드론 비행장 소개 */
  .sub section.airfield_introduce{padding-bottom: 0;}
  .area_introduce{padding-bottom: 15px;}
  .area_introduce .tit_introduce{padding-top: 24px;font-size: 16px;}
  .area_introduce .txt_introduce {padding-top: 15px;font-size: 12px;letter-spacing: 0;line-height: 1.4;}
  
  .sub div.area_inform{margin-top: 0;}
  .list_inform > li{padding: 20px 0;}
  .list_inform .tit_inform{flex: 0 1 80px;padding-top:5px;font-size: 14px;}
  .list_dot li{padding-left: 8px;font-size: 12px;line-height: 18px;}
  .list_dot li::before {top: 7px;width: 3px;height: 3px;}
  .list_table{display: block;}
  .list_table li + li{margin-left: 0;margin-top: 10px;}
  .list_table li{width: auto}
  .list_table li .box_tit{height:35px;}
  .list_table .box_tit strong{font-size: 14px;}
  .list_table .box_txt{height: auto;padding:10px 0;}
  .list_table .box_txt p{font-size:12px}
  .list_inform .conts_inform .cont_tbl{margin-right:0}
  .list_inform .conts_inform .box_infomation .type_mo + .type_mo{margin-top:20px}

  #map{height:300px;margin-top: 30px;}
  .area_map .img_box{margin-top: 20px;}
  .info_map strong{font-size:16px;margin-bottom: 20px;}
  .info_map p{padding-left: 80px;font-size:13px;}
  .info_map .tit_dot{padding-left: 10px;}
  .info_map .tit_dot::before{top: 8px;width: 3px;height: 3px;}

  /* 3. 드론앵커센터 */
  .box_flex, .box_flex.flex_reverse{flex-direction: column;}
  .area_industry .box_flex {margin: 0;}
  .area_industry .box_flex > * {margin: 0;}
  .area_industry .box_flex + .box_flex {margin-top: 15px;}
  .area_industry .box_flex .txt_box{padding:12px 0;margin-bottom:8px;border-radius: 8px;}
  .area_industry .box_flex .txt_box strong{font-size: 16px;}
  .area_industry .box_flex .img_box img{width: 100%;}
  .area_industry .box_flex .wrap_img .img_box+.img_box {margin-left: 8px;}

  .area_floor .img_box + .img_box{margin-left: 0;margin-top: 25px;}

  .wrap_search{display: block;height: auto;padding: 15px 10px;margin-bottom: 20px;}
  .wrap_search .txt_amount{display: block;margin-bottom:10px;font-size: 14px;}
  .wrap_search .box_search .input_box{margin-left: 5px;}

  .wrap_list > ul > li{flex-direction: column;}
  .wrap_list .wrap_info{margin-left: 0;margin-top: 13px;}
  .wrap_list > ul > li .link_homepage{position: static;margin-top:14px;}

  .wrap_tab .link_tab{height:37px;line-height:35px;font-size:14px;}

  /* 4. 시설장비예약 */
  .area_notice{padding: 20px 0;}
  .area_notice .tit_notice{font-size:14px;}
  .area_notice .list_dot{margin-top: 14px;}
  .list_dot.type_fc3 li{font-size:12px;padding-left: 10px;}
  .list_dot.type_fc3 li + li {margin-top: 5px;}
  .list_dot.type_fc3 li::before{top: 6px;}
  
  .area_reservation.type_calendar .box_reservation{padding-top: 0;}
  .sub div.area_reservation{display: block;}
  .area_reservation .box_reservation > * + *{margin-top: 5px;}
  .area_reservation .box_info{margin-right: 0;margin-top: 15px;height: auto;}
  .box_reservation .wrap_checkbox {padding: 15px 20px;}
  .box_reservation .wrap_checkbox .label{font-size: 13px;line-height: 17px;}
  .box_reservation .wrap_select .select{height:40px}
  .box_reservation .wrap_srchfile{height:40px}
  .box_reservation .wrap_srchfile .label{line-height: 40px;font-size:13px;}
  .box_reservation .wrap_inp{height: 40px}
  .btn_comm{height:40px;line-height: 40px;font-size:13px;}

  .area_reservation .tit_info{display: block;font-size:22px;padding-right: 0;margin-bottom: 20px;}
  .area_reservation .box_info .border_box{min-height: auto;padding:30px 20px;}
  .box_reservation .wrap_select::after{top:16px;}

  .area_equipment .cont_flextable .body_tit{display: inline-block;padding-right: 5px;font-weight: bold;vertical-align: top;}
  .area_equipment .list_body .col_tit .img_box{max-width: 100%;padding:10px 50px;border: 1px solid #eee;box-sizing: border-box;}
  .area_equipment .list_body .col_detail{display: block;}
  .area_equipment .list_body .btn_comm{max-width: 100%;}
  
  .area_edu .cont_flextable .body_tit{display: inline-block;padding-right: 5px;font-weight: bold;vertical-align: top;}
  .area_edu .list_body .col_tit{display: block;}
  .area_edu .cont_flextable .list_body .col_edu{margin-top: 4px;}
  .area_edu .list_body .btn_comm{max-width: 100%;}
  .area_edu .list_body .btn_state{width:auto;max-width:100%;line-height:38px;border-radius: 10px;}


  .area_list .wrap_listview {float: none;margin-top: 14px;text-align: center;}
  .area_list .wrap_listview .btn_view {width: 37px;height: 37px;}
  .area_list .wrap_listview .btn_view.type_gallery {margin-left: 6px;}
  .area_list .list_comm{margin-top: 15px;}
  .area_list .list_comm .link_list {padding: 14px 0;}
  .area_list .list_comm .link_list .box_thumb {margin-right: 12px;flex: 0 0 127.5px;height: auto;padding-top: 24.203%;}
  .area_list .list_comm .link_list .tit_list{font-size: 12px;}
  .area_list .list_comm .link_list .txt_info {margin: 11.5px 7px 0 0;font-size: 11px;}
  .area_list .list_comm .link_list .txt_list {max-height: 36px;margin-top: 7px;font-size: 12px;line-height: 18px;}

  .area_list .list_comm.type_gallery li {width: 100%;padding-bottom: 20px;}
  .area_list .list_comm.type_gallery .link_list .box_info {margin-top: 16.5px;}
  .area_list .wrap_pagenation {margin-top: 10px;}
  .wrap_pagenation + .wrap_link {float: none;margin-top: 25px;}

  
  .area_view .cont_view .head_view .tit_view {min-height: 66px;padding: 10px 16px;font-size: 13px;}
  .area_view .cont_view .head_view .list_viewinfo li {font-size: 11px;}
  .area_view .cont_view .head_view .txt_info {padding-right: 14px;}
  .area_view .cont_view .head_view .list_viewinfo li + li {margin-left: 35px;}
  .area_view .cont_view .head_view .list_viewinfo {padding: 12.5px 16px;}
  .area_view .cont_view .body_view {padding: 16px 16px 18px;font-size: 11px;line-height: 17px;white-space: normal;}
  .area_view .cont_view .body_view .box_img {margin-top: 18px;}
  .area_view .cont_view .foot_attach {padding: 13px 12px 13.5px;}
  .area_view .cont_view .foot_attach .link_attach {margin: 0 4px;font-size: 11px;}

  .area_write .cont_write {padding: 10px 0 20px 0;}
  .area_write .cont_write .tit_label {flex: auto;padding: 10px 0;font-size: 12px;line-height: 1;}
  .area_write .cont_write .head_write, 
  .area_write .cont_write .body_write, 
  .area_write .cont_write .attach_write {flex-direction: column;margin-bottom: 7px;}
  .area_write .cont_write .box_input .input {padding: 9.25px 18px;border-radius: 2.5px;}
  .area_write .cont_write .box_input .textarea {height: 255.5px;padding: 10px 18px;}
  .area_write .cont_write .attach_write .btn_attach {flex: 0 0 85px;height: 36px;margin-left: 6px;line-height: 34px;border-radius: 2.5px;font-size: 13px;}


  .list_video li {width: calc(100% - 0px);margin-right: 0;margin-top: 20px;}
  .list_video li:nth-child(2), .list_video li:nth-child(4) {margin-left: 0;}
  .list_video .info_course {display: block;padding: 16px 0;}
  .list_video .info_course strong {display: block;font-size: 12px;line-height: 18px;}
  .list_video .info_course span {font-size: 11px;line-height: 18px;padding-top: 10px;}
  .list_video li .img_box .ico_play {width: 19px;height: 26px;}

  .course_view {display: block;padding: 15px 0 18px;}
  .course_view .box_video {padding-top: 56.25%;}
  .course_view .box_info {padding: 18px 0 0;}
  .course_view .box_info .tit_txt {font-size: 12px;}
  .course_view .box_info .date {margin-top: 12.5px;font-size: 11px;}
  .course_view .box_info p {margin-top: 23px;font-size: 12px;line-height: 18px;}

  .cont_input .module_input.type_aligntop .label {margin-top: 0;}
  .cont_input .module_input .box_input.box_small {width: 100%;}
  .cont_input .module_input .box_textarea {height: 218px;}
  .cont_input .module_input .box_textarea .textarea {padding: 10px 11.5px;font-size: 11px;}

  .list_management li {padding: 17.5px 30px 18px 0;}
  .list_management .box_info {font-size: 12px;}
  .list_management .box_info .emph_txt {margin-right: 5px;}
  .list_management .box_info .application {display: block;margin-top: 5px;font-size: 12px;}
  .list_management li .btn_delete {align-items: flex-start;justify-content: flex-end;width: 30px;padding-top: 18px;}
  .list_management li .btn_delete .img_g {width: 10px;}

  /* login */
  .wrap_notice .list_notice li.has_bullet {line-height: 18px;}
  .cont_input.type_login{margin: 25px 0 0 0;}
  .cont_input.type_login .module_input {margin-top: 8px;}
  .cont_input.type_login .wrap_btnlogin {margin-top: 11px;}
  .wrap_btnlogin .link_login {border-radius: 2.5px;font-size: 13px;line-height: 39px;}
  .wrap_btnlogin .list_log {margin-top: 19.5px;}
  .wrap_btnlogin .list_log a {padding: 0 12px;font-size: 12px;}
  .wrap_btnlogin .list_log li + li::before {height: 7.5px;}

  .cont_autehntication {flex-wrap: wrap;margin-top: 25px;}
  .cont_autehntication .link_card {flex: 0 0 100%;height: 93px;padding: 0 29.5px;}
  .cont_autehntication .link_card + .link_card {margin-top: 13.5px;}
  .cont_autehntication .link_card .box_img {flex: 0 0 65px;}
  .cont_autehntication .link_card:nth-child(2) .box_img {flex: 0 0 51.5px;}
  .cont_autehntication .link_card .txt_card {margin-left: 3px;}
  .cont_autehntication .link_card:nth-child(2) .txt_card {margin-left: 16.5px;}
  .cont_autehntication .link_card .txt_card strong {font-size: 16px;}

  .cont_member {margin-top: 25px;}
  .cont_member .wrap_member {padding: 35px 0;}
  .cont_member .wrap_member strong {font-size: 18px;line-height: 22px;}
  .cont_member .wrap_member p {margin-top: 15px;font-size: 12px;line-height: 15px;}
  .cont_member .wrap_member + .wrap_member {margin-top: 21px;}
  .cont_member .wrap_btnlogin {margin-top: 25px;}

  .area_terms .box_terms {padding: 20px 0;}
  .area_terms .box_terms .box_inner {padding: 0 20px;font-size: 11px;line-height: 17px;}
  .area_terms .desc_radio {margin-top: 15px;}

  .list_signupintro {flex-wrap: wrap;margin-top: 25px;padding: 0;}
  .list_signupintro li {flex: 0 0 100%;padding-right: 0;}
  .list_signupintro li + li {padding-left: 0;padding-top: 20px;}
  .list_signupintro .box_item {height: auto;padding: 20px 15px;}
  .list_signupintro .box_item .box_img {width: 80px;}
  .list_signupintro .box_item strong {margin-top: 15px;font-size: 14px;}
  .list_signupintro .box_item p {margin-top: 10px;font-size: 13px;}
  .list_signupintro .box_item .link_sign {margin-top:10px;font-size: 12px;line-height: 35px;}

  .section_login .cont_input {padding: 5px 0 20px;}
  .section_login .area_input .desc_essential {top:-22px;font-size: 11px;}
  .section_login .cont_input .module_input .label {padding: 15px 0 8px;margin-bottom: 0;}
  .section_login .cont_input .module_input + .module_input {margin-top: 0;}
  .section_login .cont_input .module_input .wrap_input .box_input.type_select {flex: 0 0 99px;margin-left: 6px;}
  .section_login .cont_input .module_input .link_search {width: 100px;font-size: 12px;}
  .section_login .cont_input .module_input .input_addr .box_input:first-child {margin-right: 106.5px;}
  .sub .section_login .area_input {margin-top: 56.5px;}

  .cont_memeber {padding-top: 28px;margin: 25px auto 0;border-top: 2px solid #e34e64;}
  .cont_memeber strong {font-size: 19px;}
  .cont_memeber p {margin-top: 18px;font-size: 12px;}
  .cont_memeber .link_member {margin-top: 30px;line-height: 36px;font-size: 12px;}
}