/* input custom global */
.select{display:block;position:relative;width:100%;height:100%;padding:0 10px;border: none;color:#333;box-sizing: border-box;}
.input{display:block;width:100%;height:100%;padding: 0 10px;border:none;color:#333;box-sizing: border-box;}
.label{display: inline-block;vertical-align: top;}
input[type="checkbox"].checkbox{width:0;height:0;overflow:hidden;text-indent: -999px;}

/* table css */
.cont_tbl + .tbl_tit{padding-top: 50px;}
.tbl_tit{padding-bottom: 20px;}
.tbl_tit strong{display: block;font-weight:900;font-size:16px;color: #20438f;}
.cont_tbl{position: relative;padding-top: 24px;margin-top: -24px}
.desc_g + .cont_tbl{margin-top: 0;}
.cont_tbl::before{display: none;position: absolute;top: -3.5px;right: 11.5px;width: 17.5px;height: 26.5px;background: url(../img/sub/ico_tbl_drag.png) no-repeat;background-size: cover;content: '';}
.cont_tbl:active::after{opacity: 0.5}
.areaTit + .cont_tbl{margin-top: 0;}
.cont_tbl .tbl_outer{overflow-x: auto;}
.cont_tbl .tbl{width: 100%;border-top: 2px solid #20438f;}
.cont_tbl .tbl th{padding: 17px 32px 16px;border: 1px solid #e2e2e2;font-size: 16px;line-height: 1.5;font-weight: 500;text-align: center;color: #333;background-color: #f5f5f5;white-space: nowrap;}
.cont_tbl .tbl td{padding: 20px 26px 21px;border: 1px solid #e2e2e2;font-size: 16px;line-height: 1.5;font-weight: 400;text-align: center;color: #666;white-space: nowrap;}
.cont_tbl .tbl.tl th,
.cont_tbl .tbl.tl td,
.cont_tbl .tbl th.tl,
.cont_tbl .tbl td.tl {text-align: left;}
.cont_tbl .tbl th:first-child,
.cont_tbl .tbl td:first-child{border-left: none}
.cont_tbl .tbl th:last-child,
.cont_tbl .tbl td:last-child{border-right: none}
.cont_tbl .tbl td .link_attach {text-decoration: underline;}
.cont_tbl .tbl td .emph_txt{color:#7d191b}
.cont_tbl .link_apply{display:inline-block;width:97px;height:40px;font-size:14px;line-height:40px;color:#fff;font-weight:500;background-color:#e34e64;vertical-align:top}
.desc_tbl{position: relative;margin-top: 20px;padding-left: 11px;font-size: 14px;line-height: 24px;color: #333;}
.desc_tbl .emph_txt{color: #de5967;font-style: normal;}
.desc_tbl::before{position: absolute;left: 0;top: 0;color: #333;content: '·';}
.desc_tbl.type_emph::before{color: #de5967}
.section_directions .area_tbl .col1{width: 250px;min-width: 125px;box-sizing: border-box;}
.cont_tbl.no_line .tbl th,
.cont_tbl.no_line .tbl td{border:none}
.cont_tbl.no_line .tbl tr{border-bottom:1px solid #e2e2e2}
.cont_tbl .tbl_inside th{background-color:#f7f7f7}

.list_tbl li{position: relative;padding-left: 12px;}
.list_tbl li::before {position: absolute;left: 0;top:0;content: 'ㆍ';}

/* flex table css */
.cont_flextable .list_head{display: flex;align-items: center;justify-content: space-between;position: relative;height: 60px;border-top: 2px solid #3f3f3f;border-bottom: 1px solid #d8d8d8;background-color: #f4f7fe;}
.cont_flextable .list_head li strong {display: block;font-size: 20px;font-weight: bold;color: #20438f;text-align: center;}
.cont_flextable .list_body li{display: flex;align-items: center;justify-content: space-between;position: relative;padding: 10px 0;border-bottom: 1px solid #d8d8d8;box-sizing: border-box;}
.cont_flextable .list_body [class^='col_']{font-size: 18px;color: #666;font-weight: 400;text-align: center;line-height:1.4;box-sizing: border-box;}





/* responsive css */
@media screen and (max-width: 1024px) {
  .tbl_tit strong{font-size: 13px}
  .cont_tbl + .tbl_tit{padding-top: 20px;}
  .cont_tbl{padding-top: 17px;margin-top: -17px;margin-right: -15px;}
  .cont_tbl::after {display: none;}
  .desc_g + .cont_tbl,
  .areaTit + .cont_tbl{margin-top: 0;}
  .cont_tbl::before{display: block;}
  .cont_tbl .tbl_outer {padding-right: 15px;box-sizing: border-box;}
  
  .cont_tbl .tbl th{padding: 17.5px 21.5px;border: 1px solid #e2e2e2;font-size: 12px;line-height: 17px;font-weight: 500;text-align: center;color: #333;white-space: nowrap;}
  .cont_tbl .tbl td{padding: 17px 15.5px 16.5px;border: 1px solid #e2e2e2;font-size: 12px;line-height: 17px;font-weight: 400;text-align: center;color: #333;white-space: nowrap;}

  .cont_tbl .link_apply{width:65px;height:27px;font-size:11px;line-height:27px}
  .desc_tbl {margin-top: 14.5px;padding-left: 8px;font-size: 11px;line-height: 17px;}

  .input{padding-right: 0}

  .cont_flextable {border-top: 2px solid #3f3f3f;}
  .cont_flextable .list_head{display: none;}
  .cont_flextable .list_body li {display: block;height: auto;padding: 20px 0;}
  .cont_flextable .list_body [class^='col_'] {display: block;text-align: left;font-size: 12px;line-height: 1.3;white-space: normal;}
  .cont_flextable .list_body [class^='col_'] + [class^='col_'] {margin-top: 11px;padding: 0;}
  .cont_flextable .list_body .btn_delete {top: 18px;right: 0;width: 10px;height: 11px;}
  .cont_flextable .list_body .select_box {width: 115px;}
  .cont_flextable .list_body .col_tit {padding: 0;font-weight: 500;}
  .cont_flextable .list_body .type_mo {display: inline-block;}
  
}