
<div class="footer_inner">
  <div class="top_footermenu">
    <span class="screen_out">푸터 빠른메뉴</span>
    <ul class="list_menu">
      <li><a href="#none" class="link_menu">개인정보처리방침</a></li>
      <li><a href="#none" class="link_menu">저작권정책</a></li>
      <li><a href="#none" class="link_menu">이메일주소무단수집거부</a></li><br class="type_mo">
      <li><a href="#none" class="link_menu">웹접근성정책</a></li>
      <li><a href="#none" class="link_menu">뷰어 다운로드</a></li>
    </ul>
  </div>
  <span class="screen_out">기관정보</span>
  <div class="footer_info">
    <span>(우) 10000  앵커센터 주소가 들어갑니다.</span><br class="type_mo"><span>TEL : 고양시 민원 콜센터 031-909-9000 FAX : 031-938-0000</span>
    <p class="copyright">Copyrightⓒ GOYANG CITY. All Rights Reserved.</p>
  </div>
</div>
