<div class="top_quickmenu">
  <div class="quickmenu_inner">
    <span class="screen_out">퀵메뉴 리스트</span>
    <ul class="list_quickmenu">
      <li><a href="#none" class="link_menu">고양시청</a></li>
    </ul>
    <a href="#none" class="link_menu">로그인</a>
    <a href="#none" class="link_menu">회원가입</a>
    <a href="#none" class="link_menu">마이페이지</a>
  </div>
</div>
<nav class="wrap_gnb">
  <h1 class="logo">
    <a href="/" class="link_logo"></a>
  </h1>
  <div class="wrap_gnblist">
    <ul class="list_menu">
      <li>
        <a href="#none" class="link_menu">드론산업</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">드론산업 소개</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#none" class="link_menu">대덕 드론비행장</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">비행장 소개</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">이용안내</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">지원사업</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">오시는 길</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#none" class="link_menu">드론앵커센터</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">센터소개</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">이용안내</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">지원사업</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">오시는 길</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#none" class="link_menu">UAM</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">사업소개</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#none" class="link_menu">시설/장비예약</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">시설 예약</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">장비 예약</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">교육 신청</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">예약 확인</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#none" class="link_menu">알림마당</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">공지사항</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">Q&A</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">소식</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">자료실</span></a></li>
        </ul>
      </li>
    </ul>
    <span class="bg_depth2"></span>
  </div>
  <button type="button" class="btn_allmenu"></button>
</nav>

<div class="wrap_allmenu">
  <div class="cont_allmenu">
    <div class="area_allmenu">
      <ul class="list_menu">
        <li>
          <a href="#none" class="link_menu">드론산업</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">드론산업 소개</span></a></li>
          </ul>
        </li>
        <li>
          <a href="#none" class="link_menu">대덕 드론비행장</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">비행장 소개</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">이용안내</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">지원사업</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">오시는 길</span></a></li>
          </ul>
        </li>
        <li>
          <a href="#none" class="link_menu">드론앵커센터</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">센터소개</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">이용안내</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">지원사업</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">오시는 길</span></a></li>
          </ul>
        </li>
        <li>
          <a href="#none" class="link_menu">UAM</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">사업소개</span></a></li>
          </ul>
        </li>
        <li>
          <a href="#none" class="link_menu">시설/장비예약</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">시설 예약</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">장비 예약</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">교육 신청</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">예약 확인</span></a></li>
          </ul>
        </li>
        <li>
          <a href="#none" class="link_menu">알림마당</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">공지사항</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">Q&A</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">소식</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">자료실</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <span class="bg_allmenu"></span>
</div>

<!-- 헤더관련 공통 script : 헤더를 jquery로 끌어오면 js 파일이 안먹어서 헤더 밑에 작성 -->
<script>
$(function(){
  // gnb
  $('.wrap_gnblist').hover(function(){
    $('.wrap_gnb .list_menudep2').show();
    $('.wrap_gnb .bg_depth2').show();
  }, function(){
    $('.wrap_gnb .list_menudep2').hide();
    $('.wrap_gnb .bg_depth2').hide();
  });

  // all menu
  $('.wrap_gnb .btn_allmenu').click(function(){
    if($('.wrap_allmenu').css('display', 'none')){
      $('.wrap_allmenu').css('display', 'flex');
    }else{
      $('.wrap_allmenu').css('display', 'none');
    }
  });
  $('.cont_allmenu .link_close, .bg_allmenu').click(function(e){
    e.preventDefault();
    $('.wrap_allmenu').hide();
    $('.cont_allmenu .list_menu > li').removeClass('active');
  });
  
  
  $('.cont_allmenu .list_menu > li > .link_menu').click(function(e){
    e.preventDefault();
    if($(window).innerWidth() < 767){
      if($(this).parent('li').hasClass('active')){
        $(this).parent('li').removeClass('active');
      } else {
        $('.cont_allmenu .list_menu > li').removeClass('active');
        $(this).parent('li').addClass('active');
      }
    }
  });
  $(window).on('load resize', function(){
    if($(this).innerWidth() > 767){
      $('.cont_allmenu .list_menu > li').removeClass('active');
    }
  });
});
</script>
<!-- // 헤더 관련 공통 script -->