<div class="menu_depth1">
  <strong class="tit_menu">드론산업</strong>
</div>
<div class="menu_depth2">
  <div class="inner_menu">
  <strong class="tit_menu">연혁</strong>
  <ul class="list_menu">
    <li class="home"><a href="#none" class="link_home"></a></li>
    <li class="on"><a href="#none" class="link_menu" target="_blank">비행장 소개</a></li> <!-- 활성화된 메뉴 li에 on 클래스 추가 -->
    <li><a href="#none" class="link_menu" target="_blank">이용안내</a></li>
    <li><a href="#none" class="link_menu" target="_blank">지원사업</a></li>
    <li><a href="#none" class="link_menu" target="_blank">오시는 길</a></li>
  </ul>
  </div>
</div>


<script>
// 임시 프린트 스크립트
// function screenPrint() {
//   window.print();
// }
$(function(){
  $('.menu_depth2 .tit_menu').click(function(){
    if($(this).parent().hasClass('on')){
      $(this).parent().removeClass('on');
      $(this).parent().find('.list_menu').stop().slideUp(250);
    }else{
      $(this).parent().addClass('on');
      $(this).parent().find('.list_menu').stop().slideDown(250);
    }
  });

  $(window).on('load resize', function(){
    if($(this).innerWidth() > 1024){
      $('.menu_depth2').removeClass('on');
      $('.menu_depth2 .list_menu').css('display','flex');
    }else{
      $('.menu_depth2 .list_menu').css('display','block').hide();
    }
  });
});
</script>